*{
	margin: 0;
	padding: 0;
}
html,body{
	width: 100%;
	height: 100%;
}
a.behavior{
	color: #fff;
	text-decoration: none;
	text-shadow: 1px 1px 8px black;
	position: fixed;
	z-index: 1;
	&.suscribir{
		z-index: 2;
		background: url(../assets/caja_azul.png) no-repeat;
		padding: 17px 96px 44px 19px;
		top: 0px;
		right: 350px;
		span{
			margin-top: 2px;
		}
	}
	&.siguenos{
		z-index: 2;
		background: url(../assets/azul_rect.png) no-repeat;
		padding: 0px 103px 172px 0px;
		top: 0;
		right: 132px;
		span{
			.rotate();
			margin: 25px 0px 0px -6px;
		}	
	}
	&.compartir{
		background: url(../assets/medio_circulo.png) no-repeat;
		padding: 0px 0px 110px 0px;
		top: 200px;
		right: 0;
		width: 55px;
		span{
			.rotate();
			padding: 45px 7px 39px 6px;
		}
	}
	span{
		position: absolute;
	}
}
nav{
	background: url(http://localhost/camaleon/main_site/camaleonsite/assets/back_menu.png) no-repeat;
	position: absolute;
	left: 80px;
	top: 80px;
	ul{
		list-style: none;
		font-size: 19px;
		font-family: sans-serif;
		margin-left: 30px;
		li{
			height: 50px;
			padding-left: 56px;
			position: relative;
			color: #FFF;
			text-shadow: 1px 1px 2px #333;
			margin-bottom: 58px;
			&.logo1{
				background: url(../assets/logo_1.png) no-repeat 0 3px;
				span{
					padding: 4px 0 0 85px;	
				}
			}
			&.logo2{
				background: url(../assets/logo_2.png) no-repeat 0 3px;
				span{
					padding: 4px 0 0 35px;	
				}
			}
			&.logo3{
				background: url(../assets/logo_3.png) no-repeat 0 3px;
				span{
					padding: 4px 0 0 105px;	
				}
			}
			&.logo4{
				background: url(../assets/logo_4.png) no-repeat 0 3px;
				span{
					padding: 4px 0 0 75px;	
				}
			}
			&.logo5{
				background: url(../assets/logo_5.png) no-repeat 0 3px;
				span{
					padding: 4px 0 0 70px;	
				}
			}
			&.active{
				font-weight: bold;
				color: #9a9898;
				text-shadow: none;
			}
			span{
				position: absolute;
				top: 24px;
				left: 48px;
				width: 170px;
				background: url(../assets/pleca.png) no-repeat;
			}
		}
	}
}
section {
	width: 100%;
	/*min-height: 100%;*/
	/*overflow: hidden;*/
	position: fixed;
	padding: 40px 0 100px;
	h2{
		right: 85px;
		top: 35px;
		position: absolute;
		font-size: 40px;
		font-family: sans-serif;
		width: 215px;
		text-align: right;
		color: #9a9898;
		text-shadow: 1px 1px 8px black;
	}
	&#home{
		background: url(../assets/patron-rojo.png) repeat;
		img {
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			margin: auto;
		}
	}
	&#films{
		background: url(../assets/patron-rojo.png) repeat;
	}
	&#contenidos{
		background: url(../assets/patron-naranja.png) repeat;
	}
	&#dospuntouno{
		background: url(../assets/patron-amarillo.png) repeat;
	}
	&#cnk{
		background: url(../assets/patron-azul.png) repeat;
	}
	&#merida{
		background: url(../assets/patron-verde.png) repeat;
	}
	video{
		&.bgvid{
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background: #000 url(../assets/videos/contenidos.jpg) no-repeat;
			background-size: cover;
			margin: auto;
			z-index: -1;
		}
	}
	.content{
		background: url(http://localhost/camaleon/main_site/camaleonsite/assets/fondo-lineas.png) no-repeat;
		width: 1080px;
		height: 715px;
		margin: auto;
		position: relative;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		.cont2 {
			background: #fff;
			position: absolute;
			top: 19px;
			width: 1080px;
			height: 655px;
			.carnita{
				z-index: 1;
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				a.home{
					display: block;
					position: absolute;
					bottom: -33px;
					right: 0;
				}
				
			}
		}
	}	
}								
.rotate(){
	-webkit-transform: rotate(-90deg);
}